body {
  background-color: rgb(34, 238, 91);
  color: black;
  min-width: none !important;
  min-height: none;
}

#hudButton {
    background-color: #22ee5b;
}

div {
    font-family: Poppins;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 2rem;
  text-align: center;
} */

#root {
  margin: 1rem 0;
  padding: 0 4rem;
}

#popupContainer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.headerContainer {
    padding-bottom: 15px;
}

#popupLogo {
    width: 50px;
    border-radius: 50%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #A9A9A9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #A9A9A9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.styleButton {
    background-color: white;
    padding: 10px 20px;
    border-radius: 14px;
    border: none;
    font-family: Poppins;
    font-size: 14px;
    color: #AEAEAE;
    margin: 5px;
}

.styleButton:active {
  background-color: #fdeb46;
  color: black
}

.selected {
  background-color: #fdeb46;
  color: black
}

.toggle-button-cover {
  position: relative;
  height: 40px;
  width: 80px;
  box-sizing: border-box;
}

.button-cover {
  border-radius: 4px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
  content: "OFF";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: darkgray;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: "ON";
  left: 42px;
  background-color: #22ee5b;
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}

.toggle-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#popupNav {
    margin-top: 10px;
}

.popupIcon {
    width: 30px;
    margin-right: 14px;
    margin-bottom: 10px;
}

.navIcons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
